/* .icon_up{
    width: 80px;
    height: 80px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    color:white;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.icon_up2{
    width: 80px;
    height: 80px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
    color:white;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
}


.icon_up:hover{
    background-color: white;
    color: green;
}

.icon_up2:hover{
    background-color: white;
    color: green;
}

html{
    font-family: "Jersey 10 Charted", sans-serif;
    scroll-behavior: smooth;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid red;
}


ul{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

li{
    cursor: grab;
}
li:active{
    cursor: grabbing;
}


li:hover{
    color: rgb(135, 223, 148);
}

.nav_icon:hover{
    transform: scale(1.1);
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url('./img/img/head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header_container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 0 0 ;
}

.header_title{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.header_title button{
    background-color: #307b62;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: grab;
}

.header_title button:active{
    cursor: grabbing;
}

.header_title button:hover{
    background-color: aquamarine;
}

.header_icon{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container2{
    width: 1200px;
    height: 100vh;
    border: solid blue;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.block{
    width: 700px;
    height: 100vh;
    border: solid black;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.a1{
    color: #307b62;
    padding: 30px;
}
.a2{
    color: black;
    padding: 40px;
}
.a3{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.a4{
    background-color: #307b62;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: grab;
}
.a4:hover{
    background-color: aquamarine;
}
.a4:active{
    cursor: grabbing;
}
.a5{
    width: 450px;
    height: 50vh;
    background-image: url('./img/img/sectionContent.png');
    padding: 30px;
}
.block2{
    width: 700px;
    height: 100vh;
    border: solid black;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
}
.b1{
    width: 700px;
    height: 60vh;
    background-image: url('./img/img/mainSection.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: solid red;
}
.b2{
    color: #307b62;
}
.b4{
    background-color: #307b62;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: grab;
}
.b4:hover{
    background-color: aquamarine;
}
.b4:active{
    cursor: grabbing;
}

.container3{
    width: 100%;
    height: 40vh;
    border: solid blue;
    margin: 0 auto;
    background-color: wheat;
}
.container{
    width: 1200px;
    background-color: wheat;
    border-radius: 1px solid black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.blockn1{
    width: 30%;
    height: 40vh;
    border: solid black;
    background-color: wheat;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.s1{
    width:60px;
    height:60px;
    background-image: url('./img/img/icon/camera__green.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: solid black;
    
}
.blockn2{
    width: 30%;
    height: 40vh;
    border: solid black;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s4{
    width: 300px;
    height: 210px;
    background-image: url('./img/img/middleSection__car.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: solid black;
}
.blockn3{
    width: 30%;
    height: 40vh;
    border: solid black;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s5{
    width: 300px;
    height: 210px;
    background-image: url('./img/img/middleSection__leaves.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border: solid black;
}
.container4{
    width: 1550px;
    height: 950px;
    background-image: url('./img/img/subSection.jpg');
    background-size: contain;
    background-repeat: no-repeat;
     border: solid black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.d2{
    color: white;
}
.d3{
    border-radius: 5px;
}
.d4{
    border-radius: 5px;
}
.d4:hover{
    cursor: grab;
}
.d4:active{
    cursor: grabbing;
}
.container5{
    width: 100%;
    height: 40vh;
    background-color: rgb(200, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 600px;
    height: 20vh;
    border: solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.btn{
    display: flex;
    justify-content: space-between;
}

.h1{
    width: 200px;
    height: 50px;
    background-color: #307b62;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}
.h2{
    width: 40px;
    height: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}
.h3{
    width: 200px;
    height: 50px;
    background-color: #307b62;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}
.h4{
    width: 40px;
    height: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}

.blockk{
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.v10{
    width: 400px;
    height: 8vh;
    border: solid black;
    display: flex;
    flex-direction: column;
}
.v3{
    width: 100px;
    height: 100px;
    background-image: url('./img/img/icon/camera__green.png');
    background-size: contain;
    background-repeat: no-repeat;
}